@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;/* размер тега <html> равнялся размеру окна браузера*/
}
body {
  width: 1280px;
  margin: 0 auto; /*центрируем все содержимое body*/
  background-color: #F2F2F2;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;/*чт.все flex-элементы умещались в
  коробку,наследуется,поэтому помещаем в body*/
  min-height: 100%;/*заполнит полностью всё содержимое окна браузера.*/
}
.page-container {
  width: 1200px;
  margin: 0 auto; /*центрируем все содержимое body*/
  background-color:#ffffff;
  display: flex;
  flex-direction: column;/*делаем направление главной оси сверху вниз */
  min-height: 100%;/*заполнит полностью всё содержимое окна браузера.*/
  flex-wrap: wrap;/*элементы перейдут на новую строку и не будут выпадать из родителя*/
  box-shadow: 0 0 15px 0 #00000033;
}
.main-container {
  flex-grow: 1;/* Sticky footer (прикрепляем подвал к низу странички) только флекс-элемент может увеличиваться в размере, чтобы занять всё доступное пространство в контейнере */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Для сохранения пропорций у img при изменении размеров*/
.proportions-img {
  max-width: 100%;
  height: auto;
}
.page-header {
  min-height: 64px;
  padding: 0 70px;
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  column-gap: 28px;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  min-height: 64px;
  max-width: 892px;
}
.navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.navigation-list-right {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  gap: 0;
  margin: 0;
  padding: 0;
}
.navigation-item {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navigation-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 68px;
  min-height: 64px;
  padding: 16px 20px;
  text-decoration: none;
  color: inherit;
  background: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}
.navigation-link-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  padding: 13px 23px;
  text-decoration: none;
  color: inherit;
  background: inherit;
  text-align: center;
}
.button {
  color: #ffffff;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-link-right-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  margin: 0;
  min-height: 36px;
  min-width: 160px;
  padding: 8px 34px;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}
.welcome {
  display: block;
  box-sizing: border-box;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #000000;
  background-color:#cccccc;
  background-image: url("../images/index-vorot.png"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  text-align: center;
}
.advantages {
  padding-top: 69px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.advantages-top {
  max-width: 620px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
}
.advantages-top-description {
  max-width: 651px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 90px;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;/*убирает точки перед списками*/
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages-item,
.infrastructure-item-noeven {
  background-color: #83B3D31F;
}
.advantages-item-width-dark {
  background-color: #83B3D333;
}
.advantages-title,
.infrastructure-title {
  max-width: 230px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  align-content: flex-end;
  text-decoration: none;
  text-transform: uppercase;
}
.advantages-discription,
.infrastructure-description {
  max-width: 230px;
  padding: 0;
  margin: 0;
  color:#333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-content: flex-start;
  text-decoration: none;
}
.advantages-item-dark {
  background-color: #82B3D3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.advantages-title-discription-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 62px;
  max-width: 400px;
  min-height: 385px;
}
.infrastructure {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.infrastructure-top {
  max-width: 505px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.infrastructure-top-description {
  max-width: 490px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 64px;
}
.infrastructure-list {
  min-height: 385px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.infrastructure-title-discription-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
  width: 400px;
  min-height: 385px;
}
.booking {
  min-height: 406px;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.booking-top {
  max-width: 592px;
  padding: 0;
  margin-top:0;
  margin-bottom: 20px;
}
.booking-top-description {
  max-width: 592px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;
}
.booking-link-button {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 50px;
  min-width: 376px;
  min-height: 52px;
  border-radius: 4px;
  background-color: #756157;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.booking-text-button,
.subscribe-email-button {
  font-size: 20px;
  line-height: 36px;
}
.subscribe {
  min-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}
.subscribe-background {
  min-height: 415px;
  color: #000000;
  background-color:#cccccc;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subscribe-top {
  max-width: 404px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.subscribe-top-discription {
  max-width: 475px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;
  }
/*!!!внимательно к этим шрифтам
они должны быть в такой последовательности!!!*/
.font-unified-top{
  color:#000000;
  font-family:inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.font-unified-description {
  font-family:inherit;
  font-style: inherit;
  color:#333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.color-light {
  color: #ffffff;
}
/*___________________________*/
.subscribe-form {
  max-width: 684px;
  min-height: 52px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}
.fild {
  box-sizing: border-box;
  min-width: 452px;
  min-height: 52px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  color: #000000;
  background-color:#F2F2F2;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}
.subscribe-button-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  margin: 0;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background:#82B3D3;
  min-width: 232px;
  min-height: 52px;
}
.page-footer {
  padding: 45px 70px 35px 70px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-item {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
.social-phone {
  color:#000000;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-transform: uppercase;
  text-decoration-line: none;/*убрать подчеркивание...*/
  }
.social-link {
  box-sizing: border-box;
  padding: 11px 13px;
  min-width: 48px;
  min-height: 40px;
  background: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.htmlacademy-link {
  min-width: 115px;
  min-height: 33px;
  background: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* страница catalog.html */
.filter {
  min-height: 412px;
  box-sizing: border-box;
  padding: 35px 70px 70px 70px;
}
.filter-background {
  min-height: 412px;
  color: #000000;
  background-color:#cccccc;
  background-image: url("../images/filter-background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.inner-top {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}
.inner-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:center;
  gap: 3px;
}
.inner-item {
  min-width: 15px;
  min-height: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.inner-link {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.filter-catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.filter-catalog-item {
  margin: 0;
  padding: 0;
  max-width: 150px;
  border: none;
  text-align: left;
}
.filter-catalog-item-start {
  margin-right: 70px;
}
.filter-catalog-item-end {
  margin-right: 140px;
}
.filter-price-item {
  margin: 0;
  padding: 0;
  max-width: 288px;
  border: none;
  text-align: left;
  margin-right: 70px;
}
.filter-price-top {
  margin-bottom: 32px;
}
.filter-catalog-top {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  align-content: flex-start;
}
.filter-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.control {
  accent-color: #FFFFFF;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
}
.control-input {
  margin: 0;
}
.filter-price-box {
  max-width: 288px;
  min-height: 48px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:  flex-start;
  align-items: center;
  gap: 2px;
}
.filter-price-input-text {
  box-sizing: border-box;
  padding: 12px 20px;
  max-width: 143px;
  border:none;
  color:#000000;
  background-color:#f2f2f2;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
}
.filter-input-text-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}
.filter-input-text-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}
.filter-buttons-item {
  margin: 0;
  padding: 0;
  max-width: 191px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.filter-button-current {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background:#82B3D3;
  min-width: 191px;
  min-height: 36px;
}
.filter-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background:none;
  min-width: 191px;
  min-height: 36px;
}
.navigation-text-button,
.filter-text-button {
  font-size: 16px;
  line-height: 20px;
}
.catalog-hotel {
  padding-top: 50px;
  padding-bottom: 60px;
}
.catalog-cap {
  min-height: 49px;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.catalog-hotel-top {
  text-align: left;
  margin: 0;
  padding: 0;
}
.select-control {
  padding: 14px 20px 14px;
  max-width: 292px;
  min-height: 49px;
  color: #333333;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #E5E5E5
}
.catalog-view-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}
.catalog-view-item {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2px 2px;
}
.catalog-view-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.catalog-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0 70px;
  list-style-type: none;
  min-height: 438px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
  gap: 20px;
  }
.catalog-card-item {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  gap: 16px;
}
/* .catalog-card-link-title {
  text-decoration: none;
} */
.catalog-card-title {
  max-width: 300px;
  margin: 0;
  padding: 0;
  color:#000000;
  background-color:#ffffff;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}
.container-flex-item {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.container-card-link-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.more-button {
  margin: 0;
  min-width: 140px;
  min-height: 36px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}
.more-button-dark {
  background: #756157;
}
.more-button-light {
  background: #82B3D3;
}
.more-button-intermediate {
  background: #7DB54F;
}
.more-text-button {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.card-general {
  color: #333333;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.card-reting {
  background: #F2F2F2;
  margin: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.pagination-list {
  margin: 0;
  padding: 0 70px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.pagination-item {
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2px 2px;
}
.pagination-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
  min-width: 60px;
  min-height: 60px;
  border: none;
  border-radius: 4px;
}
.pagination-link-nocurrent {
  color: #FFFFFF;
  background: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  border: none;
  border-radius: 4px;
}
.pagination-link-intermediate {
  color: #000000;
  background: #FFFFFF;
  min-width: 60px;
  min-height: 60px;
  border: none;
  border-radius: 4px;
}
