@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  min-width: 1280px;
  margin: 0 auto;
  background-color: #F2F2F2;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-wrap: wrap;
  box-shadow: 0 0 15px 0 #00000033;
}
.more-button {
  margin: 0;
  min-width: 140px;
  min-height: 36px;
  display: inline-block;
  padding: 8px;
  appearance: none;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  white-space: normal;
  cursor: pointer;
}
.navigation-link-right-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  max-width: 160px;
  min-width: 160px;
  background: #756157;
  transition: background-color 0.5s, color 0.5s;
}
.main-container {
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.proportions-img-index {
  margin: 0;
  display: block;
  object-fit: cover;
  height: 100%;
  align-self: center;
}
.proportions-img {
  margin: 0;
  display: block;
  object-fit: cover;
  height: 100%;
}
.logo-link::before {
  content: '';
  position: absolute;
  top: 4px;
  display: block;
  width: 140px;
  height: 70px;
  mask: url(../images/logo.svg) no-repeat center/contain;
}
.logo-link-mask::before {
  background: url(../images/logo.svg) no-repeat center/contain;
}
.logo-link:hover::before {
  opacity: 80%;
}
.page-header {
  min-height: 64px;
  padding: 0 70px;
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  column-gap: 28px;
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 174px;
  min-height: 64px;
  max-width: 892px;
}
.navigation-list {
  max-width: 450px;
  min-width: 339px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: left;
  margin: 0;
  padding: 0;
}
.navigation-list-right {
  min-width: 268px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  gap: 0;
  margin: 0;
  padding: 0;
}
.navigation-item-right {
  position: relative;
  min-width: 44px;
  max-width: 44px;
  min-height: 64px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.likes-number {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 11px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #7DB54F;
}
.navigation-item {
  max-width: 125px;
  min-height: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navigation-link-right {
  min-height: 64px;;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  background: inherit;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 12px 20px;
}
.navigation-item-button {
  min-height: 64px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navigation-link {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 68px;
  padding: 22px 16px;
  text-decoration: none;
  color: inherit;
  background: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  white-space: normal;
}
.navigation-link[aria-current="page"]::after {
  content: '';
  position: absolute;
  right: 12px;
  bottom: 5px;
  left: 12px;
  height: 0;
  background-color: currentColor;
}

.navigation-link[aria-current="page"]:hover::after {
  border: 2px solid #756257;
}
.navigation-link[aria-current="page"]:focus-visible::after {
  outline: 2px solid #756257;
}
.navigation-link:focus-visible,
.navigation-link:focus  {
  outline: none;
}
.navigation-link[aria-current="page"]:active::after {
  border: 2px solid #756257;
}

.navigation-link-right::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
}
.search::before {
  mask: url(../images/search.svg) no-repeat center/contain;
  background-color: #000000;
}
.likes::before {
  mask: url(../images/likes.svg) no-repeat center/contain;
  background-color: #000000;
}

.search:hover::before,
.likes:hover::before,
.likes-number:hover {
  background-color: #756157;
}
.search:focus-visible::before,
.search:focus::before,
.likes:focus-visible::before,
.likes:focus::before,
.likes-number:focus-visible,
.likes-number:focus {
  background-color: #756157;
  outline: none;
}
.search:focus-visible,
.search:focus,
.likes:focus-visible,
.likes:focus,
.likes-number:focus-visible,
.likes-number:focus {
  outline: none;
}
.search:active::before,
.likes:active::before,
.likes-number:active {
  background-color: #7561574D;
}
.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #000000;
  background-color: #cccccc;
  background-image: url(../images/index-vorot.png), url(../images/index-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  text-align: center;
}
.advantages {
  padding-top: 69px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.advantages-top {
  max-width: 620px;
  min-height: 72px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
}
.advantages-top-description {
  max-width: 651px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 90px;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages-item,
.infrastructure-item {
  background-color: #83B3D31F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  white-space: normal;
  flex-grow: 1;
}
.infrastructure-item-even {
  background-color: #ffffff;
}
.advantages-item-width-dark {
  background-color: #83B3D333;
}
.advantages-title,
.infrastructure-title {
  max-width: 175px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  align-content: flex-end;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
}
.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF4D;
  margin: 30px auto 32px;
}
.advantages-title-center::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
  margin: 30px auto 32px;
}
.advantages-discription,
.infrastructure-description {
  min-width: 230px;
  padding: 0;
  margin: 0;
  color:#333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-content: flex-start;
  text-decoration: none;
}
.advantages-img {
  object-fit: cover;
}
.advantages-item-dark {
  background-color: #82B3D3;
}
.advantages-title-discription-container {
  padding: 101px 86px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 400px;
  min-width: 400px;
  min-height: 385px;
}
.infrastructure {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.infrastructure-top {
  max-width: 505px;
  min-height: 72px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  white-space: normal;
}
.infrastructure-top-description {
  max-width: 490px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 64px;
  white-space: normal;
}
.infrastructure-list {
  min-height: 385px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.infrastructure-title-discription-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
}
.infrastructure-title-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.infrastructure-title-houme::before {
  background-image: url(../images/houme.svg);
}
.infrastructure-title-food::before {
  background-image: url(../images/food.svg);
 }
.infrastructure-title-present::before {
  background-image: url(../images/present.svg);
 }
.booking {
  min-height: 406px;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.booking-top {
  max-width: 592px;
  padding: 0;
  margin-top:0;
  margin-bottom: 20px;
  white-space: normal;
}
.booking-top-description {
  max-width: 592px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;
}
.booking-link-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 376px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  transition: background-color 0.5s, color 0.5s;
}
.subscribe-email-button {
  font-size: 20px;
  line-height: 36px;
}
.subscribe {
  min-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}
.subscribe-background {
  min-height: 414px;
  color: #000000;
  background-color:#cccccc;
  background: url("../images/subscribe-background.jpg") no-repeat top/cover;
}
.subscribe-top {
  display: block;
  max-width: 404px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  white-space: normal;
}
.subscribe-top-discription {
  max-width: 475px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;
  white-space: normal;
  }
.font-unified-top-top {
  margin: 0;
  color:#000000;
  font-family:inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.font-unified-top{
  color:#000000;
  font-family:inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.font-unified-description {
  font-family:inherit;
  font-style: inherit;
  color:#333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.color-light {
  color: #ffffff;
}
.subscribe-form {
  max-width: 684px;
  min-height: 52px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}
.fild {
  box-sizing: border-box;
  min-width: 452px;
  min-height: 52px;
  padding: 12px 20px;
  border: none;
  color: #000000;
  background-color:#F2F2F2;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fild:not(:disabled):focus-visible {
  outline: none;
}
.subscribe-button-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  background-color:#82B3D3;
  width: 232px;
  min-height: 52px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  transition: background-color 0.5s, color 0.5s;
}
.page-footer {
  padding: 45px 70px 30px 70px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.social-list {
  margin: 0;
  padding: 0;
  max-width: 142px;
  min-width: 142px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-right: 41px;
}
.social-item {
  max-width: 47px;
  max-height: 40px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.social-link {
  padding: 11px 13px;
  border: none;
}
.social-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 16px;
}
.vk::before {
  mask: url(../images/vk.svg) no-repeat center/contain;
  background-color: #83B3D3;
  transition: background-color 0.5s, color 0.5s;
}
.telegram::before {
  mask: url(../images/telegram.svg) no-repeat center/contain;
  background-color: #83B3D3;
  transition: background-color 0.5s, color 0.5s;
}
.youtube::before {
  mask: url(../images/youtube.svg) no-repeat center/contain;
  background-color: #83B3D3;
  transition: background-color 0.5s, color 0.5s;
}

.vk:not(:disabled):hover::before,
.telegram:not(:disabled):hover::before,
.youtube:not(:disabled):hover::before {
  background-color: #68A2CA;
}
.vk:not(:disabled):focus-visible::before,
.telegram:not(:disabled):focus-visible::before,
.youtube:not(:disabled):focus-visible::before,
.youtube:not(:disabled):focus::before {
  background-color: #68A2CA;
  outline: none;
}
.vk:not(:disabled):focus-visible,
.telegram:not(:disabled):focus-visible,
.youtube:not(:disabled):focus-visible,
.youtube:not(:disabled):focus {
  outline: none;
}
.vk:not(:disabled):active::before,
.telegram:not(:disabled):active::before,
.youtube:not(:disabled):active::before {
  background-color: #68A2CA4D;
}
.social-phone-wrappe {
  display: block;
  text-align: center;
  max-width: 720px;
  min-width: 720px;
  padding-left: 10px;
  padding-right: 10px;
}
.social-phone {
  display: block;
  color:#000000;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-transform: uppercase;
  text-decoration-line: none;
  transition: background-color 0.5s, color 0.5s;
}
.htmlacademy-link-wrapper {
  max-width: 115px;
  min-width: 115px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 41px;
}
.htmlacademy-link {
  display: block;
  background-color:#000000;
  width: 115px;
  height: 33px;
  border: none;
  mask: url(../images/html-academy.svg) no-repeat center/cover;
  transition: background-color 0.5s, color 0.5s;
}
.social-phone:hover {
  color: #756157;
}
.social-phone:focus-visible,
.social-phone:focus {
  color: #756157;
  outline: none;
}
.social-phone:active {
  color: #7561574D;
}
.htmlacademy-link:hover {
  background-color: #756157;
}
.htmlacademy-link:focus-visible,
.htmlacademy-link:focus {
  background-color: #756157;
  outline: none;
}
.htmlacademy-link:active {
  background-color: #7561574D;
}
.filter {
  box-sizing: border-box;
  padding: 32px 70px 70px 70px;
}
.filter-background {
  min-height: 412px;
  color: #000000;
  background-color:#cccccc;
  background: url("../images/filter-background.jpg") no-repeat center/cover;
  text-align: center;
}
.inner-top {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}
.inner-list {
  min-width: 114px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:center;
  gap: 10px;
}
.inner-item {
  width: 15px;
  height: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inner-item-center {
  width: 6px;
  height: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inner-link {
  position: relative;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.inner-link-houme {
  content: "";
  display: block;
  mask: url(../images/houme-catalog.svg) no-repeat center/contain;
  width: 12px;
  height: 12px;
  transition: mask-color 0.5s, color 0.5s;
  background-color: #FFFFFF;
}
.inner-link-form {
  content: "";
  display: block;
  mask: url(../images/vector.svg) no-repeat center/contain;
  width: 12px;
  height: 12px;
  transition: background-color 0.5s, color 0.5s;
  background-color: #FFFFFF;
  rotate: -90deg;
}
.inner-link-hotel {
  transition: background-color 0.5s, color 0.5s;
}
.inner-link-hotel:not(:disabled):hover {
  color: #FFFFFF4D;
}
.inner-link-hotel:not(:disabled):active {
  color: #68A2CA4D;
}
.inner-link-houme:not(:disabled):hover,
.inner-link-form:not(:disabled):hover {
  background-color: #FFFFFF99;
}
.inner-item:focus-within  {
  outline: 3px solid #83B3D3;
}
.inner-link:focus-within  {
  outline: 3px solid #83B3D3;
}
.inner-link-houme:not(:disabled):active,
.inner-link-form:not(:disabled):active {
  background-color: #FFFFFF4D;
}
.catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.catalog-filter-group {
  margin: 0;
  padding: 0;
  max-width: 151px;
  border: none;
  text-align: left;
  flex-grow: 1;
}
.catalog-filter-group-start {
  margin-right: 70px;
}
.catalog-filter-group-end {
  margin-right: 140px;
}
.filter-price-item {
  margin: 0;
  padding: 0;
  max-width: 288px;
  border: none;
  text-align: left;
  margin-right: 70px;
  flex-grow: 1;
}
.filter-price-top {
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-filter-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 14px;
  align-content: flex-start;
}
.catalog-filter-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.control {
  position: relative;
  padding-left: 33px;
  accent-color: #FFFFFF;
  cursor: pointer;
}
.control-mark {
  position: absolute;
  width: 20px;
  height: 19px;
  border-radius: 4px;
  margin-left: -37px;
  background-color: #FFFFFF;
}
.control-mark-radio {
  border-radius: 50%;
}
.control-label {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
}
.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  width: 12px;
  height: 10px;
  background: url(../images/check.svg) no-repeat;
  content: "";
  top: 4.5px;
  left: 4.5px;
}
.control-input[type="radio"]:checked + .control-mark-radio::before{
  position: absolute;
  width: 10px;
  height: 10px;
  background: url(../images/radio.svg) no-repeat;
  content: "";
  top: 4.5px;
  left: 4.5px;
}
.control-input[type="checkbox"]:hover + .control-mark,
.control-input[type="radio"]:hover + .control-mark {
  background-color: #82B3D3;
}
.control-input[type="checkbox"]:active + .control-mark,
.control-input[type="radio"]:active + .control-mark {
  background-color: #68A2CA4D;
}
.control-label:hover {
  color: #FFFFFF4D;
}
.control-label:active {
  color: #68A2CA4D;
}
 .control-input:disabled + .control-mark  {
  background-color: #FFFFFF;
}
.control-input[type="checkbox"]:focus-within + .control-mark,
.control-input[type="radio"]:focus-within + .control-mark {
  outline: 3px solid #82B3D3;
}
.control-input {
  appearance: none;
  margin: 0;
}
.filter-price-form {
  max-height: 48px;
  min-height: 48px;
  min-width: 288px;
  justify-self: baseline;
  align-self: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2px;
}
.range {
  margin: 0;
  padding: 0;
  position: relative;
  top: 46px;
  margin-left: 3px;
  width: 222px;
  outline: 2px solid rgba(255, 255, 255, 1);
}
.range-scale {
  position: absolute;
  z-index: 1;
  width: 285px;
  outline: 2px solid rgba(255, 255, 255, 0.3);
}
.range-bar {
  margin-top: 5px;
  position: absolute;
  height: 4px;
  background-color: #f2f2f2;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.toggle-min {
  top: -15px;
  left: -3px;
}
.toggle-max {
  top: -15px;
  left: 206px;
}
.range-toggle:hover {
  background-color: #ffffff;
}
.range-toggle:active {
  border: 3px solid #83B3D3;
}
.range-toggle:focus,
.range-toggle:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}
.filter-price-label {
  padding: 12px 20px;
  max-height: 48px;
  max-width: 143px;
  justify-self: end;
  align-self: center;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  text-align: right;
  vertical-align: middle;
}
.label-grid-left {
  display: flex;
  flex-grow: 1;
  margin: 0;
  grid-area: 1 / 2 / 2 / 3;
}
.label-grid-right{
  display: flex;
  flex-grow: 1;
  margin: 0;
  grid-area: 1 / 4 / 4 / 5;
}
.filter-price-input {
  padding: 12px 20px;
  max-height: 48px;
  max-width: 143px;
  border:none;
  color:#000000;
  background-color:#f2f2f2;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}
.filter-price-input:not(:disabled):focus-visible,
.filter-price-input:not(:disabled):focus {
  outline: none;
}
.input-left {
  display: flex;
  flex-grow: 1;
  margin: 0;
  grid-area: 1 / 1 / 1 / 3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-right {
  display: flex;
  flex-grow: 1;
  margin: 0;
  grid-area: 1 / 3 / 3 / 5;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.filter-buttons-item {
  margin: 0;
  padding: 0;
  padding-top: 56px;
  max-width: 191px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.filter-button-current {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 191px;
  background-color: #82B3D3;
  grid-area: more-button-light;
  transition: background-color 0.5s, color 0.5s;
}
.filter-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 191px;
  background: none;
}
.filter-button:not(:disabled):hover {
  color: #FFFFFF5D;
}
.filter-button:not(:disabled):focus-visible,
.filter-button:not(:disabled):focus {
  outline: 3px solid #83B3D3;
  color: #FFFFFF;
}
.filter-button:not(:disabled):active {
  color: #FFFFFF3D;
}
.filter-button:disabled {
  color: #FFFFFF1D;
}
.catalog-hotel {
  padding-top: 50px;
  padding-bottom: 60px;
}
.catalog-cap {
  min-height: 49px;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.catalog-hotel-top-wrapper {
  margin-right: 200px;
  min-height: 49px;
  max-width: 338px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.select-control-wrapper {
  margin-right: 70px;
  max-width: 292px;
  min-width: 292px;
  height: 49px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.select-control {
  padding: 13px 20px 14px;
  max-width: 292px;
  min-width: 292px;
  height: 49px;
  color: #333333;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  transition: background-color 0.5s, color 0.5s;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/vector.svg) no-repeat;
  background-size: 11px 7px;
  background-position: 260px center;
  cursor: pointer;
}
.select-control:not(:disabled):hover {
  border: 2px solid #68A2CA;
}
.select-control:not(:disabled):focus-visible,
.select-control:not(:disabled):focus {
  border: 2px solid #68A2CA;
  outline: none;
}
.select-control:disabled {
  border: 2px solid #0000004D;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.catalog-view-list {
  max-width: 160px;
  min-width: 160px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap:10px;
}
.catalog-view-item {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.catalog-view-link {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0;
  box-sizing:border-box;
  padding: 17px 16px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  transition: background-color 0.5s, color 0.5s;
}
.catalog-view-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
}
.show-cards::before {
  background: url(../images/show-cards.svg) no-repeat center/contain;
}
.show-list::before {
  background: url(../images/show-list.svg) no-repeat center/contain;
}
.big-image::before {
  background: url(../images/big-image.svg) no-repeat center/contain;;
}
.catalog-view-link:not(:disabled):hover {
  border: 2px solid #000000;
}
.catalog-view-link:not(:disabled):focus-visible,
.catalog-view-link:not(:disabled):focus {
  outline: 2px solid #68A2CA;
}
.catalog-view-link:not(:disabled):active {
  border: 2px solid #000000;
}
.catalog-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0 70px;
  list-style-type: none;
  min-height: 438px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
  gap: 20px;
  }
.catalog-card-item {
  padding: 20px 20px;
  margin: 0;
  outline: 1px solid #E5E5E5;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "grid-img grid-img"
    "grid-h3 grid-h3"
    "grid-p1 grid-p2"
    "more-button-dark more-button-light"
    "grid-star grid-reting";
  gap: 16px 20px;
}
.catalog-card-link-img,
.catalog-card-link-title {
  margin: 0;
  padding: 0;
  color:#000000;
  text-decoration: none;
}
.catalog-card-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  white-space: normal;
}
.grid-img {
  grid-area: grid-img;
  grid-column: 1 / -1;
}
.grid-h3 {
  grid-area: grid-h3;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-p1 {
  grid-area: grid-p1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-p2 {
  grid-area: grid-p2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
}
.grid-star {
  grid-area: grid-star;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-reting {
  grid-area: grid-reting;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.more-button-dark {
  grid-area: more-button-dark;
  background-color: #756157;
  transition: background-color 0.5s, color 0.5s;
}
.more-button-dark:not(:disabled):hover,
.navigation-link-right-button:not(:disabled):hover,
.booking-link-button:not(:disabled):hover {
  background-color: #615048;
}
.more-button-dark:not(:disabled):focus-visible,
.navigation-link-right-button:not(:disabled):focus-visible,
.booking-link-button:not(:disabled):focus-visible,
.more-button-dark:not(:disabled):focus,
.navigation-link-right-button:not(:disabled):focus,
.booking-link-button:not(:disabled):focus {
  background-color: #615048;
  outline: none;
}
.more-button-dark:not(:disabled):active,
.navigation-link-right-button:not(:disabled):active,
.booking-link-button:not(:disabled):active {
  background-color: #756157;
  color: #FFFFFF4D;
}
.more-button-dark:disabled,
.navigation-link-right-button:disabled,
.booking-link-button:disabled {
  background-color: #E5E5E5;
  opacity:0.7;
}
.more-button-light {
  background-color: #82B3D3;
  grid-area: more-button-light;
  transition: background-color 0.5s, color 0.5s;
}
.more-button-light:not(:disabled):hover,
.filter-button-current:not(:disabled):hover,
.subscribe-button-button:not(:disabled):hover {
  background-color: #68A2CA;
}
.more-button-light:not(:disabled):focus-visible,
.filter-button-current:not(:disabled):focus-visible,
.subscribe-button-button:not(:disabled):focus-visible,
.more-button-light:not(:disabled):focus,
.filter-button-current:not(:disabled):focus,
.subscribe-button-button:not(:disabled):focus {
  background-color: #68A2CA;
  outline: none;
}
.more-button-light:not(:disabled):active,
.filter-button-current:not(:disabled):active,
.subscribe-button-button:not(:disabled):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}
.more-button-light:disabled,
.filter-button-current:disabled,
.subscribe-button-button:disabled {
  background-color: #E5E5E5;
  opacity:0.7;
}
.more-button-intermediate {
  background-color: #7DB54F;
  transition: background-color 0.5s, color 0.5s;
}
.more-button-intermediate:not(:disabled):hover {
  background-color: #6C9E42;
}
.more-button-intermediate:not(:disabled):focus-visible,
.more-button-intermediate:not(:disabled):focus {
  background-color: #6C9E42;
  outline: none;
}
.more-button-intermediate:not(:disabled):active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}
.more-button-intermediate:disabled {
  background-color: #E5E5E5;
  opacity:0.7;
}
.catalog-card-p-top {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  background-color: #FFFFFF;
  white-space: normal;
}
.star-wrapper {
  max-width: 140px;
  min-width: 140px;
  min-height: 37px;
  max-height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.star::before {
  margin: 0;
  padding: 0;
  content: "";
  display: block;
  mask: url(../images/star.svg) no-repeat center/contain;
  background-color: rgba(131, 179, 211, 1);
  width: 18px;
  height: 17px;
  transition: mask-color 0.5s, color 0.5s;
  cursor: pointer;
}
.catalog-card-p-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.catalog-card-p-bottom {
  margin: 0;
  min-width: 140px;
  min-height: 37px;
  color: #333333;
  background: #F2F2F2;
  padding: 9px 8px 8px 8px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  white-space: normal;
}
.pagination-list {
  margin: 0;
  padding: 0 70px;
  list-style-type: none;
  max-width: 560px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.pagination-item {
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.pagination-link {
  margin: 0;
  min-width: 12px;
  min-height: 36px;
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  font-style: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

}
.pagination-link-current {
  color: #000000;
  transition: background-color 0.5s, color 0.5s;
  background-color: #F2F2F2;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border: none;
  border-radius: 4px;
}
.pagination-link-nocurrent {
  background-color: #82B3D3;
  transition: background-color 0.5s, color 0.5s;
  color: #FFFFFF;
  min-width: 60px;
  min-height: 60px;
  border: none;
  border-radius: 4px;
}
.pagination-link-nocurrent:not(:disabled):hover {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}
.pagination-link-nocurrent:not(:disabled):focus-visible,
.pagination-link-nocurrent:not(:disabled):focus {
  background-color: #68A2CA;
  outline: 1px solid #82B3D3;
}
.pagination-link-nocurrent:not(:disabled):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}
.pagination-link-current:not(:disabled):hover {
  background-color: #e0dddd;
}
.pagination-link-current:not(:disabled):focus-visible,
.pagination-link-current:not(:disabled):focus {
  background-color: #e0dddd;
  outline: none;
}
.pagination-link-current:not(:disabled):active {
  background-color: #F2F2F2;
}
.pagination-link-intermediate {
  color: #000000;
  background: #FFFFFF;
  min-width: 60px;
  min-height: 60px;
  border: none;
  border-radius: 4px;
}
.pagination-link-intermediate:not(:disabled):hover,
.pagination-link-intermediate:not(:disabled):focus-visible,
.pagination-link-intermediate:not(:disabled):focus,
.pagination-link-intermediate:not(:disabled):active {
  background-color: #FFFFFF4D;
  outline: none;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.911);
}
.modal {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 #00000026;
  padding: 64px 70px;
  border-radius: 30px;
  max-width: 717px;
}
.modal-top {
  top: 0;
  right: 0;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.modal-title {
  margin: 0;
  padding: 0;
  margin-right: 130px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background: rgba(242, 242, 242, 1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.modal-close-button::before {
  display: block;
  content: "";
  height: 14px;
  background: url(../images/close.svg) no-repeat center/contain;
  color: rgba(0, 0, 0, 1);
  background-size: 14px 14px;
  cursor: pointer;
}
.modal-close-button:hover {
  background: rgba(229, 229, 229, 1);
  color: rgba(0, 0, 0, 1);
  transition: background-color 0.5s, color 0.5s;
}
.modal-close-button:focus,
.modal-close-button:focus-visible {
  background: rgba(229, 229, 229, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  color: rgba(0, 0, 0, 1);
}
.modal-close-button:active {
  background: rgba(229, 229, 229, 1);
  color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, color 0.5s;
  outline: none;
  border: none;
}
.modal-close-button:active::before {
  color: #E5E5E5;
  transition: background-color 0.5s, color 0.5s;
  opacity: 0.3;
  outline: none;
  border: none;
}
.modal-form {
  max-width: 577px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}
.modal-wrapper {
  max-width: 577px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.modal-label-wrapper {
  min-height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.modal-label-wrapper-right {
  margin-right: 10px;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.modal-label {
  max-width: 137px;
  min-width: 137px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.modal-label-right {
  display: block;
  white-space: wrap;
  max-width: 49px;
  min-width: 49px;
  margin-right: 10px;
  align-items: center;
}
.modal-input {
  max-width: 440px;
  min-width: 440px;
  min-width: 440px;
  min-height: 48px;
  min-height: 48px;
  background: #F2F2F2;
  background-image: url(../images/date.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center right 20px;
  border: none;
  border-radius: 4px;
  padding: 12px 60px 12px 20px;
}
.modal-info-messenger {
  display: block;
  margin-top: 4px;
  margin-left: 20px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.modal-info-messenger-warning {
  color: #FF5757;
}
.modal-group {
  border: none;
  margin: 0;
  padding: 0;
}
.modal-label-text {
  margin: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.modal-input-text {
  margin: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
}
.modal-input:hover {
  background: rgba(229, 229, 229, 1);
  color: rgba(0, 0, 0, 0.6);
}
.modal-input:focus,
.modal-input:focus-visible {
  background: rgba(229, 229, 229, 1);
  color: rgba(0, 0, 0, 0.6);
  outline: 3px solid rgba(131, 179, 211, 1);
}
.modal-all {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:flex-start;
  justify-content: space-between;
  gap: 88px;
  min-width: 577px;
}
.modal-item-left {
  margin: 0;
  padding: 0;
  min-width: 247px;
  max-width: 247px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border: none;
  box-sizing: border-box;
}
.modal-item-right {
  margin: 0;
  padding: 0;
  min-width: 242px;
  max-width: 242px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border: none;
  box-sizing: border-box;
}
.modal-input-end {
  display: block;
  padding: 0 50px;
  min-width: 110px;
  min-height: 48px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
}
.modal-input-wrapper-end {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  max-width: 111px;
  min-width: 111px;
  min-height: 48px;
}
.modal-button-left {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin: 14px 10px;
  background:
    linear-gradient(#7561574D,#7561574D);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.modal-button-right {
  position: absolute;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin: 14px 10px;
  background:
    linear-gradient(#7561574D,#7561574D),
    linear-gradient(#7561574D,#7561574D);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.modal-button-left:hover {
  display: block;
  width: 14px;
  height: 14px;
  background:
    linear-gradient(#000000,#000000);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  cursor: pointer;
}
.modal-button-right:hover {
  display: block;
  width: 14px;
  height: 14px;
  background:
  linear-gradient(#000000,#000000),
  linear-gradient(#000000,#000000);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  cursor: pointer;
}
.modal-input-end:focus,
.modal-input-end:focus-visible {
  outline: none;
  display: inline-block;
}
.modal-button-left:focus{
  outline: 3px solid #68A2CA;
  border-radius: 4px;
  display: block;
  width: 14px;
  height: 14px;
  background:
    linear-gradient(#000000,#000000);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  cursor: pointer;
}
.modal-button-right:focus {
  outline: 3px solid #68A2CA;
  border-radius: 4px;
  display: block;
  width: 14px;
  height: 14px;
  background:
  linear-gradient(#000000,#000000),
  linear-gradient(#000000,#000000);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  cursor: pointer;
}
.modal-button-left:active {
  display: block;
  width: 14px;
  height: 14px;
  margin: 17px 13px;
  background:
    linear-gradient(#7561574D,#7561574D);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.modal-button-right:active {
  display: block;
  width: 14px;
  height: 14px;
  margin: 17px 13px;
  background:
    linear-gradient(#7561574D,#7561574D),
    linear-gradient(#7561574D,#7561574D);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.modal-input-end::-webkit-outer-spin-button,
.modal-input-end::-webkit-inner-spin-button,
.modal-input-end::-webkit-outer-spin-button,
.modal-input-end::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.modal-submit-button {
  margin-top: 25px;
  min-width: 577px;
  min-height: 60px;
  border-radius: 10px;
  padding: 18px 77px;
  border: none;
  background-color: #83B3D3;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255);
}
.modal-submit-button:hover {
  background-color: #68A2CA;
  transition: background-color 0.5s, color 0.5s;
}
.modal-submit-button:focus,
.modal-submit-button:focus-visible {
  background-color: #68A2CA;
  transition: background-color 0.5s, color 0.5s;
  outline: none;
}
.modal-submit-button:active {
  background-color: #68A2CA;
  transition: background-color 0.5s, color 0.5s;
  color: rgba(255, 255, 255, 0.3);
}
/*----------------popover---------------- */
.popover {
  position: absolute;
  left: 50%;
  margin-top: 60px;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
}
.popover-button-wrapper-right {
  margin-right: 46px;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.popover-close-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.popover-svg {
  position: absolute;
  width: 2px;
  height: 12px;
  background-image: url("../images/i.svg");
  background-repeat: no-repeat;
}
.popover-content  {
  position: absolute;
  top: -6px;
  left: -10px;
  width: 256px;
  min-height: 143px;
  border-radius: 10px;
  background: rgba(51, 51, 51, 1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}
.popover-content-triangle{
  position: absolute;
  top: -16px;
  transform: translateX(570%);
  width: 19px;
  height: 9px;
  display: inline-block;
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
}
 .popover-text{
  position: absolute;
  top: 3px;
  padding: 15px 18px 18px 22px ;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
 }
 /*----------------end popover----------------*/
